.product-card {
    background: #FFFFFF;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 15px;
    margin: 2rem 0;
}

.product-card-body {
    position: relative;
}

.product-card-body > .header {
    margin-bottom: 1rem;
}
.product-card-body > .header > span {
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #2C2C2C;
}

.product-card-body .content {
    font-weight: 300;
    line-height: 25px;
}

.divider {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dadada;
    width: 1px;
    height: 100%;
}

.product-card-image {
    padding: 0 !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating > span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #6554C0;
    border-radius: 3px;
    padding: 4px 8px;
}
.rating > span > svg {
    margin-left: 7px;
}

.price > div {
    color: #999999;
    font-weight: 300;
    font-size: .9rem;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.actions > button {
    margin-top: 10px;
    font-size: 12px;
}
.product-card > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .divider {
        display: none;
    }

    .product-card > div:last-child {
        border-top: 1px solid #daDADA;
        margin-top: 2rem;
        padding-top: 1rem;
    }
}

@media (max-width: 764px) {
    .product-card-image {
        margin-bottom: 1rem;
    }
}