@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --bg-primary-color: #0052cc;
  --bg-success-color: #36B37E;
  --bg-secondary-color: #091e42;
  --bg-warning-color: #FFAB00;
  --bg-danger-color: #FF000A;

  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216)
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #F9F9F9;
}


.btn-primary {
  background: var(--bg-primary-color);
}
.btn-success {
  background: var(--bg-success-color);
}